*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


  



.skeleton{
    display:flex;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100%;
}

img{
    align-self: center;
    width: auto;
    height: 12vh;
}
.logo{
    background-color: rgba(0,0,0,0.7);
    color: aliceblue;
    font-size: calc(4vw + 4vh);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80%; 
    font-family: 'Norse'
}
.picture{
    min-width: 35%;
    
    background-image:url("./pics/apes.jpeg");
    background-size:100% auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem; 
    padding-bottom: 1rem;
   

}

.intro{
    background-color: #1e1919;
    max-width: 65%;
}

.statement{
  color: #b2baa7;
  font-weight: bold;
  margin: 3%; 
}

form{
  background-color: #b2baa7;
  color: #584637;
   
}
.formlines{
  margin: 0 3%;
  font-weight: 700;
}
legend{
  margin:0 3%;
  font-weight:bolder;
  font-size:x-large;
}

.formcouple{
  display: flex;
  flex-flow: column;
  max-width: 100%;
  margin-right: 5%; 
}
.formpair{
  display: flex;
  flex-wrap: wrap;
  
}

input{

border: 5px solid rgba(0,0,0,0);
}

input:focus{
  border: 5px solid lightblue;
  box-shadow:4px 4px 4px yellow;
  
}

#password:not(:placeholder-shown):invalid{
  border: 5px solid red;
}

#confirm:not(:placeholder-shown):invalid{
  border: 5px solid red;
}

button{
  height: 60px ;
  width:220px;
  border-radius: 10px;
  margin:3% 3%;
  background-color: #8EB5B4;
  color: #16161A;
  font-weight: bolder;
  font-size: medium;
}

.intro>p{
  color: #b2baa7;
  margin:1% 3%;
}
a{
  color: aliceblue;
}
.credits{
    color: azure;
}